// Section TEAM
.section_team
    background-color: #F6F9FE
    padding-bottom: 5em
    
    .div_titre_team
            padding-top: 3em //j'ajoute des padding à ma div pour la placer comme dans l'exo
            padding-bottom: 1em
            text-align: center //je centre le texte
    .les4cartes
        display: flex
        justify-content: center
        gap: 2em


@media (max-width:768px)
    .section_team
        background-color: #F6F9FE
        padding-bottom: 2em
        .div_titre_team
                padding-top: 3em //j'ajoute des padding à ma div pour la placer comme dans l'exo
                padding-bottom: 1em
                text-align: center //je centre le texte
        .les4cartes
            display: flex
            flex-wrap: wrap
            justify-content: center
            gap: 5em